<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cheque Yourself</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<nav>
    <a href="/">Home</a>
    <a href="/Businesses">Businesses</a>
    <a href="/BusinessPhones">Business Phones</a>
    <a href="/Employees">Employees</a>
    <a href="/TimeEntries">Time Entries</a>
    <a href="/PayrollFrequencies">Payroll Frequencies</a>
    <a href="/Deductions">Deductions</a>
    <a href="/EmployeeDeductions">Employee Deductions</a>
    <a href="/CalculationMethods">Calculation Methods</a>
    <a href="/DeductionCategories">Deduction Categories</a>
    <a href="/reset" style="color:red; font-weight:bold;">RESET DATABASE</a>

</nav>

<main>
    {{{body}}}
</main>

</body>
</html>
